.user__profile {
  position: absolute;
  display: flex;
  right: 2rem;
  top: 1.5rem;
  height: 40px;
}

.user__profile-name {
  color: #1b1e21;
  font-weight: 600;
  line-height: 19px;
  text-align: right;
}

.user__profile-role {
  opacity: 0.6;
  color: #637280;
  font-family: Lato;
  font-size: 14px;
  letter-spacing: 0.1px;
  line-height: 17px;
  text-align: right;
}

.user__profile-dropdown {
  height: 10px;
  width: 15px;
  margin-left: 0.8rem;
}